# aliases
alias rz="source ~/.zshrc"
alias ez="vim ~/.zshrc"
alias eza="vim ~/.aliases"
alias ezf="vim ~/.functions"
alias ezn="vim ~/.nyps_profile"
alias mou="open /Users/leohen/Applications/Mou.app"
alias bootstrap-dotfiles="~/dotfiles/bootstrap.sh"


