#!/bin/zsh


# JAVA
export JAVA17_HOME=$(/usr/libexec/java_home -v17)
export JAVA19_HOME=$(/usr/libexec/java_home -v19)
export JAVA21_HOME=$(/usr/libexec/java_home -v21)
export JAVA_HOME=$JAVA21_HOME
alias set-java8="export JAVA_HOME=$JAVA8_HOME"
alias set-java11="export JAVA_HOME=$JAVA11_HOME"
alias set-java16="export JAVA_HOME=$JAVA16_HOME"
alias set-java17="export JAVA_HOME=$JAVA17_HOME"
alias set-java19="export JAVA_HOME=$JAVA19_HOME"
alias set-java19="export JAVA_HOME=$JAVA19_HOME"
export M2_HOME="/usr/local/Cellar/maven/3.8.4/libexec"
#export JAVA_TOOL_OPTIONS=" -Dfile.encoding=UTF-8"
export PATH="/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:$PATH"
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
PATH=$JAVA_HOME/bin:$PATH:$PATH

