# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Leon Hennings
	email = leon.hennings@gmail.com
	signingkey = 9DAEFA9ABE80654B94F98951A8EEA0101FD70A3F
[core]
	autocrlf = input
[alias]
	pushf = push --force-with-lease
	pushc = push -u origin HEAD
[url "git@github.com:"]
	insteadOf = https://github.com/
